.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}

.item {
  width: 100px;
  height: 50px;
  margin: 10px;
  text-align: center;
  line-height: 50px; /* Для центрирования текста по вертикали */
  background-color: #FF99D3;
  border-radius: 20px;
}