.wrapper{
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}
.myButton{
  width: 100px;
  height: 50px;
  margin: 10px;
  text-align: center;
  line-height: 50px;
  background-color: #FFFFFF;
  border-radius: 20px;
  transition: transform 5s;
}
.myButton:hover {
  background-color: #FF99D3;
  transform: scale(20) perspective(2px)
}
